슈퍼베이스챗봇 (1).json
{
  "name": "슈퍼베이스챗봇",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "10997a2d-ec85-4942-b382-5d03bbc35d79",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1cfUDlDHRkpWDKFTUGAq_q13OEQzdMtBpkP7Ogx6D-so/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "a1aed748-8021-4c10-ba8a-4e50172b72ba",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4SDsz9aaNln8YgHt",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        272
      ],
      "id": "e0fc2f27-05ba-45a9-9fdc-771e7e642ca4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2NKAqUKb2y0l8wto",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Get a document').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        256
      ],
      "id": "0cfb38e4-5b07-414d-b103-4f530b72b897",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 100,
        "chunkOverlap": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        576,
        448
      ],
      "id": "5d8b87e8-f663-4adc-92e9-bf2f7bd94c93",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        864,
        256
      ],
      "id": "f8a5bcfb-c33d-434e-8bd4-d4826abd7013",
      "name": "When chat message received",
      "webhookId": "829a7d3c-32a8-4072-a2dd-873bdf870615"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1072,
        256
      ],
      "id": "f8131490-0523-48e8-bbc4-529f3398a39d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        912,
        464
      ],
      "id": "92ffad0a-7ca2-4e65-931a-2aa69c730c2c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2NKAqUKb2y0l8wto",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1040,
        464
      ],
      "id": "421d9084-6aec-4507-ad17-cc30f5de1d91",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "dcf12dd2-be81-453a-bd94-8746f8f4d079",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "aPGNOJy80d7OK1YB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "넥스트온 회사 상황",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1200,
        496
      ],
      "id": "52d254b6-f965-4e94-be4a-fc4f7359cf58",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "aPGNOJy80d7OK1YB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1216,
        672
      ],
      "id": "7adaf962-5d80-4a62-bf4a-39f1aeeebe3d",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "2NKAqUKb2y0l8wto",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "235ec1f3-18a9-4561-9e9a-a70fb0035c68",
  "meta": {
    "instanceId": "96ca949e568acedb9fc1fa0e5c6fe86681bbf191620dac885aec0353b6508d38"
  },
  "id": "QFV4nk6d35wOA8Pi",
  "tags": []
}